<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://informatica.ucm.es/">
                        <img src="img/logos/fdi.jpg" class="img-responsive img-centered logue-clients" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://ucm.es/">
                        <img src="img/logos/ucm.jpg" class="img-responsive img-centered logue-clients" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.ucm.es/oficina-de-software-libre/">
                        <img src="img/logos/OSLL.png" class="img-responsive img-centered logue-clients" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.ucm.es/la-casa-del-estudiante">
                        <img src="img/logos/casa.jpg" class="img-responsive img-centered logue-clients" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>