<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse">
                            <img src="/img/logos/scidata.jpg" alt="logo-SciData" class='imgRedonda'/>
                        </i>
                    </span>
                    <h2 class="section-heading">SciData - Data Science</h2>
                    <h3 class="section-subheading text-muted">Asociación de Data Science y tecnologías emergentes en la facultad de informática de la Universidad Complutense de Madrid.
                    El objetivo de SciData es divulgar, explorar y fomentar la formación en el campo del data science y las nuevas tegnologias, comprendiendo todas sus ramas.
                    Damos amparo a cualquier perfil interesado, sea principiante o avanzado.</h3>
                    <h3 class="section-subheading text-muted">SciData se fundamenta en cuatro pilares determinantes para el desarrollo de la asociación y el cumplimento de su objetivo fundacional:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-md-4-extra">
                    <h4 class="service-heading">Comunidad abierta</h4>
                    <p class="text-muted">Comunidad abierta autodidacta de estudiantes que comparten, crean y divulgan recursos para facilitar, optimizar y promover la formación en el data science, primando los flujos de ayuda entre miembros.</p>
                </div>
                <div class="col-md-4 col-md-4-extra">
                    <h4 class="service-heading">Charlas, meetings y talleres</h4>
                    <p class="text-muted">Charlas, meetings y talleres didácticos sobre el data science y sus tecnologías base por miembros de la asociación así como ponentes no participantes en la asociación que desarrollen una actividad laboral cercana al ámbito de la asociación.</p>
                </div>
                <div class="col-md-4 col-md-4-extra">
                    <h4 class="service-heading">Proyectos e investigacion</h4>
                    <p class="text-muted">Proyectos software didácticos open source desarrollados por los miembros en activo de la asociación. El objetivo de estos proyectos es implementar en casos prácticos y reales aquellos conceptos del ámbito de la asociación.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Big Data</h4>
                    <p class="text-muted">Big Data es uno de los conceptos de moda en el mundo informático. El objetivo es convertir el Dato en información para la toma de decisiones. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Machine learning</h4>
                    <p class="text-muted">El propósito del machine learning es que las personas y las máquinas trabajen de la mano, al éstas ser capaces de aprender como un humano lo haría.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deep Learning</h4>
                    <p class="text-muted">El Deep Learning lleva a cabo el proceso de Machine Learning usando una red neuronal artificial que se compone de un número de niveles jerárquicos. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-bar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Statistics</h4>
                    <p class="text-muted">La estadística es una herramienta fundamental para conocer nuestros datos. Es el primer paso para saber si nos darán información válida.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Mining</h4>
                    <p class="text-muted">“La minería de datos consiste en la transformación de datos en conocimiento para la toma de decisiones”, lo cual se logra mediante técnicas de análisis simbólico; es decir, “no se trabaja sobre los datos, sino sobre conceptos”.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wpexplorer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">New Technologies</h4>
                    <p class="text-muted">Tecnologías emergentes y disruptiva que juegan un papel clave en el enfoque tecnológico de los miembros participantes en la asociación. </p>
                </div>
            </div>
        </div>
    </section>